.vscode
main.exe
chess_engine.exe
games/match1.pgn
games/rating_1350_v2.pgn
games/rating_1350_v3.pgn
games/rating_1350.pgn
chess_engine_uci.exe
games/rating_pst.pgn
games/rating_pst2.pgn
games/rating_1700.pgn
